*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* Start of videoArea */

.videoArea{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.video{
    flex: 100%;
}

.video iframe{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
/* End of videoArea */

/* start of content */

.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:10px 20px;
}

/* Start of content_account */

.content_account{
    display: flex;
    flex-wrap: wrap;
}

.icon_nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    width:100%;
    height: 100%;
    }

.content_profile{
  flex:50%;
}

.buttons{
   flex: 50%;
   padding-left: 80px;
}
.content_profile img{
    border-radius: 50%;
    width: 40px;
    height: 40px;

}
.content_profile{
    display:flex;
    align-items: center;
   
}

.content_profile button{
    margin: 0 18px;
    padding: 10px 17px;
    background-color: black;
    color:#fff;
    border-radius: 15px;
    border-style: hidden;
}
.name{
    padding: 0 10px;
}

.name h5{
    font-weight: 600;
    font-size: 16px;
}

.name span{
    font-size: 14px;
}

.btn{
    margin: 0 10px;
    padding: 10px 17px;
    background-color: grey;
    color:black;
    border-radius: 15px;
    border-style: hidden;
}

.btn_dots{
    border-radius: 50%;
    padding: 10px 10px;
    background-color: grey;
    border-style: hidden;
}

.a{
    background-color: grey;
    padding: 10px 5px;
    border-radius: 15px;
    display: flex;
}

.buttons button{
    margin: 0 10px;
}

.content_comments{
    flex:60%;
}

/* End of content_account */

/* start of comment */
.comment{
    flex:100%;
    margin:20px 0px;
    display: flex;
    align-items: center;
}


.comment_section{
    display: flex;
    flex-wrap: wrap;
}

.Profile_pic img{
    border-radius: 50%;
    width:40px ;
    height: 40px;
}

.comment_text{
    flex:1;
    padding: 0 10px;
    /* background-color: red; */
}

.comment_text span{
  font-size: 10px;
}

.comment_text p{
    padding: 10px 0px;

}

.comment_icons span{
    font-size: 12px; 
    padding-right: 10px;
}

.reply{
    padding-left: 20px;
    font-size: 12px; 
}

.comment_replies{
    padding: 15px 0px;
}

.comment_replies span{
    font-size: 15px;
}
/* End of comment */

/* Start of right side */

.content_videos{
    flex:40%;
    margin-top: 120px;
}

.shorts{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video1{
  flex: 13%; 
}

.video2{
    flex: 13%; 
}
.iframe_vids{
    width: 100%;
    height: 23vh;
    padding: 0 10px;
}

.video3{
    flex: 13%;
}

.shorts h5{
    padding: 0 10px;
}
.shorts span{
    padding: 0 10px;
    font-size: 13px;
}

/* content videos */

.shorts_heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    flex: 13%;
    padding: 0 10px;
    margin: 20px 0;
}

.heading2{
    flex: 13%;
}

.heading3{
    flex: 13%;
}
/* End of content video */

/* start of playlist */

.playlist{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.playlist_video{
    flex: 20%;
}

.playlist_text{
    flex: 20%;
}

.playlist_text p{
   padding-top:20px;
   font-size: 15px;
}


.playlist_video iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.playlist_text h3{
    font-size: 18px;
    font-weight: 500;
}

.playlist_text span{
    font-size: 15px;
}

.playlist1{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}



